In [19]:
import pandas as pd
movies=pd.read_csv("https://raw.githubusercontent.com/Praful2000/YoutubeLectures/master/Movie%20KNN/movies.csv",usecols=['movieId','title'])

In [20]:
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [21]:
ratings=pd.read_csv("https://raw.githubusercontent.com/Praful2000/YoutubeLectures/master/Movie%20KNN/ratings.csv",usecols=['userId','movieId','rating'])

In [22]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [23]:
movies.shape
movies_users=ratings.pivot(index='movieId',columns='userId',values='rating').fillna(0)

In [24]:
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
from scipy.sparse import csr_matrix
mat_movies=csr_matrix(movies_users.values)
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(metric='cosine',algorithm='brute',n_neighbors=20)

In [26]:
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [31]:
from fuzzywuzzy import process

In [33]:
def recommender(movie_name,data,n):
    idx=process.extractOne(movie_name,movies['title'])[2]
    print('Movie Selected:',movies['title'][idx],'Index:',idx)
    print('Searching for recommondation.....')
    distance,indices=model.kneighbors(data[idx],n_neighbors=n)
    for i in indices:
        print(movies['title'][i].where(i!=idx))

In [34]:
recommender('triller',mat_movies,10)

Movie Selected: Trailer Park Boys (1999) Index: 7840
Searching for recommondation.....
7840                                        NaN
8386                      Under the Skin (2013)
7581                         Connections (1978)
8073                       Promised Land (2012)
8481                              Felony (2013)
6244                               Babel (2006)
8220                      Wolverine, The (2013)
7588                         Melancholia (2011)
7568    Family Guy Presents: It's a Trap (2010)
5977                             Valiant (2005)
Name: title, dtype: object

In [35]:
recommender('horror',mat_movies,10)

Movie Selected: Amityville Horror, The (1979) Index: 1016
Searching for recommondation.....
1016                                            NaN
1013                   Amityville: Dollhouse (1996)
1456    Friday the 13th Part VI: Jason Lives (1986)
2243                          Three to Tango (1999)
1019                        April Fool's Day (1986)
1994                           Wolf Man, The (1941)
2276                        Drugstore Cowboy (1989)
2060                       Color Purple, The (1985)
125                           Addiction, The (1995)
1014            Amityville: A New Generation (1993)
Name: title, dtype: object